@import "./reset.css"; /*обнулила*/

/*для всех ссылок*/
a {
    text-decoration: none;
    color: inherit; /*наследует цвет у родителя*/
}

ul {
    margin: 0;
    padding: 0; /*маркер не отображается*/
    list-style: none;
}

.body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #0a0a0a;
}

.header { /*насследует и menulink и phone*/
    background-color: #0a0a0a;
    padding: 33px 0 32px;
    color: #717171;
    font-size: 24px;
    line-height: 29px;
}
.container {
    max-width: 1200px;
    margin: 0 auto; /*auto автоматом вычитало*/
    padding: 0 15px; /*по часовой стрелке 0-вверх.низ,15лево.право  */
}

.nav {
    display: flex;
    justify-content: space-between; /*распределила навигацию*/
    align-items: center; /*распределила по горизонтали центру*/
}

.menu {
    display: flex;
}

/*что нового цвет заказать*/
.menu-item {
    padding-right: 30px;
}




